<section class="container">

  <h1>Mon espace personnel</h1>
  <p></p>
  <br>
  <br>
  <%= link_to 'Retour', root_path  %><br>
  <%= link_to 'Se déconnecter', destroy_seller_session_path, method: :delete %><br>
  <%= link_to 'mes offres', administration_offers_path %><br>
  <%= link_to 'créer une offre', new_seller_offer_path(@seller) %>

</section>
