<section class="container">

  <h1> Mettre à jour mes préférences</h1>
  <br>
  <%= simple_form_for([@buyer, @preference]) do |f| %>
    <%= f.input :category_id, collection: @categories, as: :check_boxes, label: "Sélectionnez vos préférences" %>
    <%= f.submit "Valider", class: "btn btn--primary" %>
  <% end %>

</section>


