<section class="container">

  <h1>Ajouter des préférences</h1>
  <br>
  <% @list_of_not_selected_category_id.each do |category_id| %>
      <%= Category.find(category_id).name %>
     <% @preference.category_id = category_id %>
      <%= simple_form_for([@buyer, @preference]) do |f| %>
      <%= f.input :category_id , as: :hidden %>

        <%= f.submit "Ajouter", class: "btn btn--primary" %>
      <% end %>

  <% end %>

</section>


