<section class="container">

  <h1>Ajouter des préférences</h1>
  <br>
  <% @non_selected_categories.each do |category| %>
    <% preference = Preference.find_by(category_id: category.id)%>
    <% if !preference.nil? %>
      <%= simple_form_for([@buyer, preference]) do |f| %>
        <%= f.input_field :category_id, as: "#{category.name}" %>
        <%= f.submit "Valider", class: "btn btn--primary" %>
      <% end %>
    <% end %>
  <% end %>

</section>


